fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
faiss-cpu
sentence-transformers
neo4j
numpy
pymupdf
rank_bm25
scikit-learn
langchain
langchain-community
langchain-text-splitters
yake
transformers
sentencepiece
protobuf
tiktoken
matplotlib
pandas